.theme-light .token.comment.line.vodelog {
    color: var(--vscode-vodelog-comment) !important;
}

.theme-dark .token.comment.line.vodelog {
    color: var(--vscode-vodelog-comment) !important;
}

.theme-high-contrast .token.comment.line.vodelog {
    color: var(--vscode-vodelog-comment) !important;
}
